// Import font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


// Custom font
$font-family-sans-serif: "Inter", sans-serif;

$font-size-base: 0.85rem;

$h1-font-size: 2.5rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

// Custom colors
$primary: rgb(98, 234, 213);
$light: rgb(148, 163, 184);
$dark: rgb(15, 23, 42);

// Custom CSS
.card {
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.05) !important;
        border-radius: 16px;
        transition: 0.1s ease-in-out;
    }
}

.card-blur-effect * {
    filter: blur(5px);
    transition: 0.1s ease-in-out;
}

// Import Boostrap CSS
@import "node_modules/bootstrap/scss/bootstrap";

// Override CSS classes
.sticky-top {
    top: 40px;
}