// Custom colors
$primary: rgb(98, 234, 213);
$light: rgb(148, 163, 184);
$dark: rgb(15, 23, 42);

// Custom CSS
.card {
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.05) !important;
        border-radius: 16px;
        transition: 0.1s ease-in-out;
    }
}

.card-blur-effect * {
    filter: blur(5px);
    transition: 0.1s ease-in-out;
}

// Import Boostrap CSS
@import "node_modules/bootstrap/scss/bootstrap";