// Import font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Custom font
$font-family-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;

$font-size-base: 0.85rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.1;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base;

// Custom colors
$primary: rgb(98, 234, 213);
$light: rgb(148, 163, 184);
$dark: rgb(15, 23, 42);

// Custom CSS
// Main menu
.menu {

    a {
        &:hover {
            color: white !important;
        }

        .menu-lines {
            background-color: rgba(226, 232, 240, .5);
            width: 2rem;
            height: 1px;
            margin-right: 8px;
            transition: 0.1s ease-in-out;
        }

        .color-changed {
            width: 4rem;
            transition: 0.1s ease-in-out;
            background-color: white;
        }
    }
}

// Contacts
.contacts .bi {
    transition: .1s ease-in-out;
}

// Jobs cards
.card {
    transition: .1s;

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.05) !important;
        border-radius: 16px;
        transition: .1s ease-in-out;
        border-top: 1px solid rgba(255, 255, 255, 0.25) !important;
    }
}

.card-blur-effect * {
    filter: blur(5px);
    transition: .1s ease-in-out;
}

// Arrow link animation
.bi-arrow-up-right {
    font-size: 12px;
}

.move-arrow {
    position: relative;
    top: -4px;
    left: 4px;
    animation-name: move-arrow;
    animation-duration: .1s;
    animation-timing-function: ease-in-out;
}

@keyframes move-arrow {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        top: -4px;
        left: 4px;
    }
}

// Import Boostrap CSS
@import "node_modules/bootstrap/scss/bootstrap";

// Override CSS classes
// Header
.sticky-top {
    top: 40px;
}

.contacts .bi {
    &:hover {
        color: white !important;
        transition: .1s ease-in-out;
    }
}